<body>
  <header class="app-header__header">
    <h1>
      <a href="/">Awesome Media Ranker</a>
      <small>Ranking the Best of Everything</small>
    </h1>

    <nav class="app-header__nav">
      <ul class="nav app-header__site-nav-container">
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/">View top media</a>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/works">View all media</a>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/works/new">Add a new work</a>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/users">View all users</a>
        </li>
      </ul>
      <ul class="nav app-header__user-nav-container">

        <li class="nav-item app-header__nav_item">
          <a class="btn btn-primary" href="/users/316">Logged in as me</a>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="btn btn-primary" rel="nofollow" data-method="post" href="/logout">Log Out</a>
        </li>

      </ul>
    </nav>
  </header>


  <main>
      <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Media Spotlight</span>
      <a class="spotlight__link-to" href="/works/484">POODR: how to be a bike mechanic for Rubyists</a> by 
    </h2>
    <p class="spotlight__description">
      10 votes - Metz also wants you to buy 99 bottles
    </p>
  </section>

<hr class="root__hr">

<section class="top-ten__container">
  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Movies
  </h2>
  <ul class="list-group top-ten__list">
  </ul>
  <!-- <a href="/works.movies">View More Movies</a> -->
</section>

  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Books
  </h2>
  <ul class="list-group top-ten__list">
      <li class="list-group-item">
        <h4>
          <a href="/works/484">POODR: how to be a bike mechanic for Rubyists</a>
          <small class="top-ten__creator">by </small>
        </h4>
        <p>10 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/297">Golden Compass</a>
          <small class="top-ten__creator">by Philip Pullman</small>
        </h4>
        <p>3 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/323">Heart Mug </a>
          <small class="top-ten__creator">by </small>
        </h4>
        <p>3 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/250">Major Equinox</a>
          <small class="top-ten__creator">by Queen Satterfield</small>
        </h4>
        <p>2 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/285">Beloved</a>
          <small class="top-ten__creator">by Toni Morrison</small>
        </h4>
        <p>2 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/397">The Martian</a>
          <small class="top-ten__creator">by Andy Weir</small>
        </h4>
        <p>2 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/380">Perfume</a>
          <small class="top-ten__creator">by Patrick Süskind</small>
        </h4>
        <p>1 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/247">Green Forrester</a>
          <small class="top-ten__creator">by Raquel Hirthe</small>
        </h4>
        <p>1 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/481">LOL</a>
          <small class="top-ten__creator">by </small>
        </h4>
        <p>0 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/260">Hello Town</a>
          <small class="top-ten__creator">by Laury Walter</small>
        </h4>
        <p>0 votes</p>
      </li>
  </ul>
  <!-- <a href="/works.books">View More Books</a> -->
</section>

  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Albums
  </h2>
  <ul class="list-group top-ten__list">
      <li class="list-group-item">
        <h4>
          <a href="/works/395">Middle Of Nowhere</a>
          <small class="top-ten__creator">by Hanson</small>
        </h4>
        <p>4 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/341">Happy Toes 3</a>
          <small class="top-ten__creator">by Disney</small>
        </h4>
        <p>3 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/476">To Thrill a Mockingbird</a>
          <small class="top-ten__creator">by </small>
        </h4>
        <p>2 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/482">hahasdfasdf</a>
          <small class="top-ten__creator">by </small>
        </h4>
        <p>1 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/347">ngoc</a>
          <small class="top-ten__creator">by </small>
        </h4>
        <p>1 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/282">ASDF</a>
          <small class="top-ten__creator">by </small>
        </h4>
        <p>1 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/429">title3</a>
          <small class="top-ten__creator">by </small>
        </h4>
        <p>1 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/420">sweet tea</a>
          <small class="top-ten__creator">by </small>
        </h4>
        <p>1 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/490">Dark Side of the Moon</a>
          <small class="top-ten__creator">by Pink Floyd</small>
        </h4>
        <p>1 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/399">This Time Around</a>
          <small class="top-ten__creator">by Hanson</small>
        </h4>
        <p>1 votes</p>
      </li>
  </ul>
  <!-- <a href="/works.albums">View More Albums</a> -->
</section>

</section>

  </main>


</body>
