<body>
  <main>
  <h2>Create new work</h2>
  <section>
  
  <form action="/works" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="M8d22PZXaHD5Dal9ceSUy/Y/HbIK76y9sW9g7/Z5TUF074+oCrj5Tr2Sb2tpznzyxFNhZEuGUITQ0rH4fyQSNw==">
    <div class="form-group">
      <label>Category</label>
      <select class="form-control" name="work[category]"><option value="album">album</option>
      <option value="book">book</option>
      <option value="movie">movie</option></select>
    </div>

    <div class="form-group">
      <label>Title</label>
      <input class="form-control" type="text" name="work[title]">
    </div>

    <div class="form-group">
      <label>Creator</label>
      <input class="form-control" type="text" name="work[creator]">
    </div>

    <div class="form-group">
      <label>Publication year</label>
      <input class="form-control" type="text" name="work[publication_year]">
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" name="work[description]"></textarea>
    </div>

    <div class="form-group">
      <input type="submit" name="commit" value="Create work" work="" class="btn btn-primary" data-disable-with="Create Work">
    </div>
    </form></section>
  
  </main>
</body>
