<main>
    <h2>User Summary: <a href="/users/285">yo</a></h2>
<p>Joined site Apr 22, 2019</p>

<section class="user-votes__container">
  <h3 class="user-votes__header">Votes</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Media Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Category</th>
        <th>Voted On</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><a href="/works/484">POODR: how to be a bike mechanic for Rubyists</a></td>
          <td>Dr. Motorcycle</td>
          <td>2012</td>
          <td>Book</td>
          <td>Oct 16, 2019</td>
        </tr>
    </tbody>
  </table>
</section>

<a class="btn btn-secondary" href="/users">See all Users</a>
<a class="btn btn-primary" href="/">Back to Media List</a>

  </main>
